/* Căn giữa toàn bộ form */
.form-container {
    display: flex;
    justify-content: center;  /* Căn giữa theo chiều ngang */
    align-items: flex-start;      /* Căn giữa theo chiều dọc */
    height: 100vh;    
    padding-top: 50px;        /* Chiều cao của container là 100% chiều cao của viewport */
}

/* Đảm bảo form có một không gian linh hoạt */
.form-container form {
    display: flex;
    flex-direction: column;  /* Đặt các phần tử theo chiều dọc */
    align-items: center; /* Đảm bảo các phần tử trong form sẽ căn lề bên trái */
    gap: 10px;  /* Tạo khoảng cách giữa các phần tử */
}

.form-group {
    display: flex;
    align-items: flex-start;  /* Căn chỉnh các phần tử con theo chiều dọc */
    justify-content: space-between;  /* Đẩy các phần tử ở hai đầu của nhóm */
    width: 100%;  /* Đảm bảo các phần tử chiếm toàn bộ chiều rộng */
}


.form-group label {
    width: 30%;  /* Chỉ chiếm một phần chiều rộng */
    font-weight: bold;  /* Làm đậm label */
    margin-right: auto;  /* Khoảng cách giữa label và input */
}
/* Tăng kích thước các phần tử trong .form-container */
.form-container form .form-group {
    margin-bottom: 20px;  /* Tăng khoảng cách giữa các trường nhập liệu */
    margin-right: 10%;
}



.form-container form button.btn-primary {
    padding: 10px 15px;    /* Tăng kích thước nút bấm */
    font-size: 15px;       /* Tăng kích thước chữ trong nút */
    width: 50%;           /* Đảm bảo nút chiếm toàn bộ chiều rộng của form */
}


button.btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    width: 100%;
}

button.btn-primary:hover {
    background-color: #0056b3;
}
