{% extends 'home/base.html' %}
{% load static %}
{% block main-content %}
<h2>{{ event.title }}</h2>
<img src="{{ event.image.url }}" alt="{{ event.title }}" class="event-image">
<p><strong>Ngày:</strong> {{ event.date }}</p>
<p><strong>Địa điểm:</strong> {{ event.location }}</p>
<p><strong>Người tổ chức:</strong> {{ event.organizer.username }}</p>
<p>{{ event.description }}</p>
<link href="{% static 'home/css/event.css' %}" rel ="stylesheet"/>
    <div class="event-container">
            <div class="event-card">
                <div class="event-details">
                    <a href="{% url 'form_reg' event.id %}" class="btn">Đăng ký</a>
                </div>
            </div>
    </div>



{% endblock main-content %}