.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }
    html,body {
        font-family: Arial, sans-serif;
       
        padding: 0;
        background-color: #ffffff;
        height: 100%;
        margin: 0;  /* Loại bỏ khoảng cách mặc định */
        display: flex;
        flex-direction: column;/* Phân chia không gian thành 2 phần: nội dung và footer */
        
    }
.col-md-10col-lg-6col-xl-5order-2order-lg-1
    {
        display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
    }
    